<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head> 
  <body>
    <h1>Current Player: "<%= name %>"</h1>
    <h1>Your health: <%= health %>!</h1>
    <h1><%= name %> - your move</h1>

    <!-- check health -->
    <% if (health> 0) { %>
      <!-- "form-action" = route that request sends to  -->
      <form action="/turn" method="post">
        <!-- "label-for" links to "select-id" -->
        <!-- "select-name" = name of list -->
        <!-- "option-value" links to "select-name" when forms being submitted -->
        <label for="playerSelection">select one of them (r/p/s)</label>
        <select id="playerSelection" name="playerSelection">
          <option value="rock">rock</option>
          <option value="paper">paper</option>
          <option value="scissors">scissors</option>
        </select>

        <br><br>
        <input id="attack-button" type="submit" value="confirm choice - attack">
      </form>
      <% } 

      else { %>
        <p>Gameover.</p>
      <% } 
    %>
    
    <br>
    <a id="turn-link" href="/">restart - return to index page</a>
  </body>
</html>